/* style.css */
body {
    font-family: "Garamond";
    letter-spacing: 0,5px;
    margin: 0;
    padding: 0;

    background-image: url('https://img.freepik.com/fotos-premium/fondos-pantalla-planeta-universo_826801-3305.jpg');
    background-size: cover;
    background-position: center;   

    background-color: lightblue;

}


header {
    background-color: #222;
    color: #1017ef;
    padding: 10px 0;
    text-align: center;
}

#carta {
    margin: auto;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 17px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

h1:hover {
    color: red;
    font-size: 2.5em;
    transition: 2s;
}

a:hover {
    color: #800080;
    text-decoration: none;
    font-weight: bold;
}
