/* style.css */
body {
    font-family: "Garamond";
    letter-spacing: 0.5px; /* Corregido de 0,5px a 0.5px */
    margin: 0;
    padding: 0;

    background-image: url('https://img.freepik.com/fotos-premium/fondos-pantalla-planeta-universo_826801-3305.jpg');
    background-size: cover;
    background-position: center;   

    background-color: rgb(21, 112, 143);
}


body::before {
      content:'';
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0,8);
      z-index:-1;
}


header {
    background-color: #c5bdbd; /* Seleccioné el color de la rama 'main' */
    color: #000000;
    padding: 10px 0;
    text-align: center;
}

#carta {
    margin: auto;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 17px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #ff0000;
    color: #000000;
    text-align: center;
    padding: 12px 0;
    position: fixed;
    width: 90%;
    bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #4A90E2;
   }

h1:hover {
    color: red;
    font-size: 2.5em;
    transition: 2s;
}

a:hover {
    color: #800080;
    text-decoration: none;
    font-weight: bold;
}

